---
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
---

<footer class="site-footer">
  <div class="container">
    <Logo />
    <Navigation label="footer navigation">
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
      <li><a href="#">Page 4</a></li>
    </Navigation>
  </div>
</footer>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-footer {
    background-color: $footer-background-color;
    color: $footer-text-color;

    a {
      color: $footer-link-color;
      text-decoration: $footer-link-text-decoration;
      font-family: $footer-link-font-family;

      &:is(:hover, :focus) {
        color: $footer-link-color-hover;
      }
    }
  }
</style>
